;; {{title}}
;;
;; {{description}}
;;
(ns leiningen.{{lein4clojure-ns}}
  (:use clojure.test))

deftest addition
  (is (= 4 (+ 2 2)))
  (is (= 7 (+ 3 4))))

(deftest add-1-to-1
  (is (= 2 (+ 1 1))))


  