;; {{title}}
;;
;; {{{description}}}
;;
(ns leiningen.{{l4c-ns}}
  (:use clojure.test))

(with-test
  (defn {{l4c-test-name}} [] 
    :code-goes-here)
{{#l4c-tests}}  
  (is {{{.}}})
{{/l4c-tests}}
)

