;; {{title}}
;;
{{#l4c-description-lines}}
;; {{{.}}}
{{/l4c-description-lines}}
;;
;; problem author: {{user}}
;; difficulty: {{difficulty}}
;;
(ns lein4clojure.{{l4c-ns}}
  (:use clojure.test clojure.set))

(with-test
  (defn {{l4c-test-name}} [] 
    :code-goes-here)
{{#l4c-tests}}  
{{#l4c-tests-comment}}(comment{{/l4c-tests-comment}}
  (is {{{.}}})
{{#l4c-tests-comment}}){{/l4c-tests-comment}}
{{/l4c-tests}}
)

